body {
  padding:0; margin:0;
   background-image: url(   http://www.14denoviembre.es/img/hori.png ), url( http://www.14denoviembre.es/img/stars_5.png );
}

h1{
	margin-top: 30px;
    text-align: center;
    color: white;
}

.video-section{
  width: 800px;
  height: 100px;
  top: 100px;
}

.container{
  position: absolute;
  width: 800px;
  height: 500px;
  left: 580px;
}