body {
  padding:0;
  margin:0;
  color: white;
  background-image: url(   http://www.14denoviembre.es/img/hori.png ), url( http://www.14denoviembre.es/img/stars_5.png );
}

h1{
  text-align: center;
  color: white;
  font-size: 250px;
  font-weight: bolder;
  letter-spacing: 5px;
  margin-bottom: 20px;
  position: relative;
  background: black;
}

h2{
	top: 1000px;
  text-align: center;
  color: white;
  font-style: italic;
}

h3{
  font-size: 50px;
}

.box-container{
  width: 1090px;
  height: 2500px;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
  
}

.video-section{
  width: 800px;
  height: 100px;
  top: 100px;
}

.container{
  position: absolute;
  width: 800px;
  height: 500px;
  left: 580px;
}


.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}